numpy
scipy
pandas
alive_progress
uproot
matplotlib
plotly
pickle-mixin
pyyaml
xgboost
git+https://github.com/hipe4ml/hipe4ml@dev
optuna
particle
scikit-learn
shap
torch
torchic
boost-histogram
uncertainties
